#footer {
  text-align: center;
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:rgb(84, 82, 117);
  padding:8px;
}
#header {
  text-align: center;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  background:#333;
  padding:8px;
  letter-spacing: 10px;
  font-weight: 900;
  font-size: 50px;
  color:rgb(202, 162, 162);
}
.title-button {
  float: left;
}
#title {
  
}
#render {
  font-size: 25px;
  margin: 150px 50px 300px 50px;
}
.col-md-4 {
  text-align: center;
}