@{
  Layout = "_Layout";
}

@using Library.Models;
@model List<Library.Models.Patron>;

@Html.ActionLink(" Home", "Index", "Home", null, new { @class="btn btn-info fa fa-home" })
@Html.ActionLink(" Add", "Create", null, null, new { @class="btn btn-info fa fa-user-plus" })
<hr />
<p>Patrons</p>
<hr />
<div class="box">
  <div class="inner-box">
    @if (Model.Any())
    {
    @foreach (Patron patron in Model)
      {
        <li>@Html.ActionLink($"{patron.Name}", "Details", new { id = patron.PatronId })</li>
      }
    }
    else
    {
      <p>No Patrons have been added yet!</p>
    } 
  </div>  
</div>
<hr />