@{
  Layout = "_Layout";
}

@using Library.Models;
@model List<Library.Models.Book>;

@Html.ActionLink(" Home", "Index", "Home", null, new { @class="btn btn-info fa fa-home" })
@Html.ActionLink(" Add", "Create", null, null, new { @class="btn btn-info fa fa-user-plus" })
<hr />
<p>Books</p>
<hr />
<div class="box">
  <div class="inner-box">
    @if (@Model.Any())
    {
      @foreach (Book book in Model)
      {
        <li>@Html.ActionLink($"{book.Title}", "Details", new { id = book.BookId })</li>
      }
    }
    else
    {
      <p>No Books have been added yet!</p>
    }
  </div>
</div>
<hr />
