@{
  Layout = "_Layout";
}

<h1>Library</h1>
<p>Welcome back to the library, please sign in</p>
@Html.ActionLink(" ManageUser", "Index", "ManageUsers", null, new { @class = "btn btn-info fa fa-gear"})
@* @Html.ActionLink("Button name", "View / Route", "Controller" or null, new { PropertiyName = PropertyValue} or null, new { @htmlattributes } or null) *@