<div id="header">
  <nav class="navbar fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="\">The Library</a>
        <button class="btn"><i class="fa fa-users"></i>@Html.ActionLink("Patrons", "Index","Patrons")</button>
        <button class="btn"><i class="fa fa-cube"></i> @Html.ActionLink("Books", "Index","Books")</button>
        <button class="btn"><i class="fa fa-cube"></i> @Html.ActionLink("Authors", "Index","Authors")</button>
        <button class="btn"><i class="fa fa-cube"></i> @Html.ActionLink("Copies", "Index","Copies")</button>
        </nav>
</div>