@{
  Layout = "_Layout";
}

@model Library.Models.Copy

@Html.ActionLink(" Home", "Index", "Home", null, new { @class="btn btn-info fa fa-home" })
@Html.ActionLink(" All Copies", "Index", null, null, new { @class="btn btn-info fa fa-address-book-o" })
<hr />
<p>Are you sure you want to delete this Copy?</p>
<hr />
@Html.DisplayNameFor(model => model.Book.Title): @Html.DisplayFor(model => model.Book.Title)
@using (Html.BeginForm())
{
  <button type="submit" class="btn btn-info fa "><i class="fa-times"> Delete</i></button>
}
<hr />